.bottom-arrow {
	width: 100%;
	position: relative;
	top: 150px;
}

.chevron-down {
	animation: chevronDownAnimaton 1.2s infinite alternate;
}

@keyframes chevronDownAnimaton {
	from {
		transform: translateY(0px);
		opacity: 0.1;
	}
	to {
		transform: translateY(30px);
	}
}
