@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

:root {
	--headline: calc(35px + 4.5vw);
	--title: calc(30px + 2vw);
	--subtitle: calc(var(--title) / 3);
	--subtitle-small: calc(var(--title) / 4);
	--text: 14px;
	--label-size: 15px;

	--red: rgb(236, 105, 95);
	--blue: #0586e5;
	--t-blue: rgba(5, 134, 229, 0.3);
	--lightBlue: #01a8ff;
	--t-lightBlue: rgba(1, 168, 255, 0.3);
	--orange: rgb(227, 130, 21);
	--yellow: #f4d933;
	--lightGray: rgb(200, 200, 200);
	--gray: rgb(15, 15, 21);
	--grey: rgb(20, 20, 28);
	--green: #54e346;
	--white: white;

	--font: Amaranth, Arial, Helvetica, sans-serif;

	--main-color: #bf55ec; /*#e82357;*/
	--main-color-t: rgba(227, 130, 21, 0.15);

	--navbar-color: rgb(15, 16, 19);
	--background-color: rgb(19, 20, 21);
	--background-color-2: rgb(28, 29, 31);
	--background-color-3: rgb(51, 52, 54);

	--font-color: white;
	--font-color-2: rgb(158, 159, 160);

	--good-color: rgb(102, 190, 84);
	--bad-color: rgb(234, 46, 73);
}

.c-font {
	color: var(--font-color);
}

.c-font-2 {
	color: var(--font-color-2);
}

html,
body,
main {
	width: 100%;
	min-height: 100%;
	height: 100vh;
	font-family: var(--font);
	background-color: var(--background-color);
}

html {
	color: var(--font-color);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 100%;
	height: 40px;
	background-color: var(--navbar-color);
	z-index: 50;
}

.first {
	margin-top: 50px;
	padding-top: 10px;
}

.second {
	background-color: var(--background-color-2);
	color: white;
}

.svg-transit {
	position: relative;
	top: 10px;
}

.svg-transit path {
	fill: var(--background-color-2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
}
p {
	font-size: var(--text);
	line-height: 25px;
}

.website-title {
	font-size: var(--headline);
	color: white;
	margin: 0;
	font-weight: bold;
	text-align: left;
}

.title,
.subtitle,
.subtitle-small {
	font-weight: normal;
	text-align: left;
}

.title {
	font-size: var(--title);
	letter-spacing: 0.75rem;
}

.subtitle {
	font-size: var(--subtitle);
	fill: white;
}

.subtitle-small {
	font-size: var(--subtitle-small);
}

.quote {
	position: relative;
	top: 20vh;
	color: var(--blue);
	letter-spacing: 0.1vw;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
}

.btn {
	background-color: var(--blue);
	color: white;
	border-radius: 20px;
	padding: 3px 9px 2px 7px;

	transition: 0.5s;
	border: 3px solid var(--blue);
}

.btn:hover {
	background-color: white;
	color: var(--blue);
	border-radius: 20px;
	padding: 3px 9px 2px 7px;
}

.dynamic {
	border-radius: 20px;
	padding: 2px 6.5px 4px 5.5px;
	background-color: var(--green);
	color: white;
}

p {
	margin: 1px;
}

input {
	padding: 5px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: var(--background-color-3);
	color: white;
	font-size: 14px;
}
button {
	padding: 5px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: var(--background-color-3);
	border: 1px solid var(--background-color-3);
	color: white;
	font-size: 15px;
	transition: 0.1s;
	cursor: pointer;
}
button:hover {
	border: 1px solid white;
}

.small-p {
	color: var(--font-color-2);
	font-size: 14px;
}

.increase {
	color: var(--good-color) !important;
}
.decrease {
	color: var(--bad-color) !important;
}

.icon {
	cursor: pointer;
}

.circle {
	border-radius: 50px;
	width: 10px;
	height: 10px;
	background-color: white;
}

label {
	font-size: 14px;
}

.no-display {
	display: none;
}
.display {
	display: block;
}
.wallet {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;

	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--background-color-2);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
	background: var(--background-color-3);
}

.footer {
	margin-top: 20px;
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid var(--background-color-3);
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	z-index: 5;
}

.footer .footer-title {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid white;
}

.footer p {
	font-size: 15px;
}

.footer a {
	text-decoration: underline;
	transition: 0.1s;
}
.footer a:hover {
	color: var(--font-color-2);
}

.footer-div {
	width: 250px;
}

.footer .sub-section {
	gap: 50px;
}

.main {
	font-family: var(--font);
	background-color: var(--background-color);
}

.transparent {
	background: transparent !important;
}

.w-100 {
	width: 100% !important;
}
.w-45 {
	width: 49% !important;
}

.gap-5 {
	gap: 5px !important;
}

.gap-0 {
	gap: 0px !important
}



.anim {
	stroke: white;
	stroke-width: 1;
	fill: white;
	animation: textAnimate 8s ease;
}

@keyframes textAnimate {
	0% {
	  stroke-dasharray: 0 50%;
	  stroke-dashoffset:  20%;
	  fill: var(--navbar-color);
	  stroke: var(--main-color);
	}
	
	75% {
	  stroke-dasharray: 50% 0;
	  stroke-dashoffstet: -20%;
	  fill: transparent;
	  stroke: white;
	}
 
	100% {
	 stroke-dasharray: 50% 0;
	 stroke-dashoffstet: -20%;
	 fill: white;
	 stroke: white;
   }
 }
