.detailed-crypto-view {
    min-height: 75vh;
    width: 95%;
    background-color: red;
}

.detailed-menu {
    margin-bottom: 15px;
}

.detailed-menu-actions {
    font-size: 24px;
}
.detailed-menu-actions-icon {
    background-color: var(--main-color);
    padding: 8px 11px 8px 11px;
    border-radius: 50px;
    transition: .25s;
}
.detailed-menu-actions-icon:hover {
    color: whitesmoke;
}

.detailed-menu-title {
    font-size: 24px;
    font-weight: bold;
}
.detailed-menu-subtitle {
    font-size: 24px;
    color: var(--font-color-2);
}



.detailed-div {
    position: relative;

    min-width: 360px;

    padding: 20px;

    border-radius: 10px;
    background:var(--background-color-2);
}

.detailed-crypto-div-title
{
    font-size: 15px;
    /*margin: 10px;*/
    color: var(--font-color-2);
}

.detailed-crypto-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    border-bottom: solid var(--background-color) 1px;
    margin: 5px 0px 5px 0px;
}

.detailed-crypto-item-title {
    text-align: left;
    width: 40%;
}

.detailed-crypto-item-value {
    text-align: center;
    width: 40%;
}

