
:root {
    --title: 8rem;
    --subtitle: calc(var(--title)/4);
    --subtitle-small: calc(var(--title)/6);
    --text: calc(var(--title)/5);
    --red: rgb(236, 105, 95);
    --blue: rgb(114 137 218);
    --gray: rgb(128, 128, 128);
    --grey: rgb(36, 36, 37);
    --font: Amaranth, Arial, Helvetica, sans-serif;
  }

html, body, main {
    min-height: 100%;

    /*background-color: rgb(29, 32, 35);*/
    background: rgb(53,54,65);
background: radial-gradient(circle, rgba(53,54,65,1) 0%, rgba(41,46,50,1) 50%, rgba(34,35,40,1) 100%);
    color: whitesmoke;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

nav {
    position: fixed;
    background-color:red;
}

.title, .subtitle, .subtitle-small {
    font-weight: normal;
    text-align: left;
    margin: 5px;
}

.title {
    font-size: var(--title);
}

.subtitle {
    font-size: var(--subtitle);
}

.subtitle-small {
    font-size: var(--subtitle-small);
}

.section {
    width: 50%;

    min-width: 360px;

    margin: 0px;
}

.icon {
    width: 40px;
    color: white;
}