@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes cloudFadeout {
    from { opacity: 1;}
    to { opacity: 0.3;}
}

@keyframes slideInFromAbove {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0%);
    }
}

.form {
    display: flex;
    position: absolute;
    top: 10%;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromAbove, fadein 3s;
    flex-direction: column;
    z-index: 2;
    width: 25vw;
    min-width: 300px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    color: black;
}

input[type=text]:valid, input[type=password]:valid, input[type=email]:valid{
    outline-color: var(--green);
    border: var(--green);
}

input[type=text]:invalid, input[type=password]:invalid, input[type=email]:invalid{
    outline-color: var(--red);
    border: var(--red);
}

input[type=submit] {
    background-color: var(--orange);
    color: var(--font-color);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--orange);
    padding: 12px;
    width: 30%;
    height: auto;
    margin: 8px;
}

input[type=submit]:hover {
    background-color: transparent;
    color: var(--orange);
    transition-duration: 0.25s;
}

.link{
    color: var(--orange);
    text-decoration: underline;
    margin: 10px;
}

#Signup{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.form-title {
    text-align: center;
    font-style: italic;
    animation: fadein 3s;
    font-size: calc(50px + 1.5vw);
    font-family: var(--font);
}

.form-subtitle{
    text-align: center;
    font-style: italic;
    animation: fadein 3s;
    font-size: calc(20px + 1.5vw);
    font-family: var(--font);
}

input:focus::placeholder{
    color: transparent;
}

.line {
    width: 50%;
    height: 0%;
    transform: translateY(1050%);
    margin-left: 10px;
    margin-right: 10px;
}

.OU {
    display: flex;
    text-align: center;
    color: lightgray;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: -15px;
}

.longLine {
    margin: 10px;
}

.curves {
    background-color: chartreuse;
    position: fixed;
    height: 60%;
    width: 100%;
    bottom: 0;
}

.curves::before{
    content: '';
    display: block;
    position: fixed;
    border-radius: 50% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--background-color);
    transform: translate(-5%, -65%);
}

.curves::after{
    content: '';
    display: block;
    position: fixed;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: chartreuse;
    transform: translate(85%, -35%);
}

.spacer {
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(/waves.svg); 
}



