.simple-crypto-dashboard {
   width: 90%; 
}

.simple-crypto-view {
    padding: 15px 0px 15px 0px;
    border-bottom: solid 2px var(--background-color);

    transition: .5s;
    
}

.simple-crypto-view:hover {
    border-radius: 10px;
    background-color: var(--background-color);
}

.simple-crypto-view-logo {
    width: 50px;
    height: 50px;
}
.simple-crypto-view-item {
    max-width: 150px;
    flex-grow: 1;
}
.simple-crypto-names {
    margin-left: 15px;
}
.simple-crypto-abbreviation {
    color: gray;
}